source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Core redirects: force
nuget fuchu
nuget Streams

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  source https://nuget.org/api/v2
  

group Test
source https://www.nuget.org/api/v2

nuget fuchu